@use '../../../assets/styles/_variables' as *

.wrapper
  display: flex
  flex-direction: column
  justify-content: space-evenly
  gap: 12px

  height: 100%
  padding: 12px

  font-size: 14px
  line-height: 18px

.main-buttons
  display: flex
  gap: 4px

  button
    flex-grow: 1
    padding: 16px 0

    border-radius: 12px
    background-color: $accent

    color: white

  .round
    border-radius: 9999px

button
  padding: 4px 0
  background-color: $secondary
  color: $text-secondary
