@use '../../../assets/styles/_variables' as *

.wrapper
  display: flex
  flex-direction: column
  gap: 12px

  padding: 16px 12px

  border-radius: 16px
  background-color: $primary

  text-align: start

  .block
    display: flex
    flex-direction: column
    gap: 12px

    padding-bottom: 12px
    border-bottom: 2px solid $secondary

    font-size: 12px
    line-height: 16px

  .block:last-child
    border: none
    padding-bottom: 0

  .header
    padding: 0 4px

    font-size: 18px
    line-height: 22px
    font-weight: 700

  .model
    padding: 0 4px

    font-size: 14px
    font-weight: 700

    span
      font-size: 12px
      line-height: 16px
      font-weight: 400
      color: $text-light

  .row
    display: grid
    grid-template-columns: 50% 50%
    padding: 0 4px

  .techs-list
    display: flex
    flex-direction: column
    gap: 4px

    margin: 4px 2px

    list-style: none
    color: $text-light

  .colors
    display: flex

    border: 1px solid #B3BBC6

  .color
    flex-grow: 1
    height: 18px

  .button
    display: flex
    justify-content: center
    align-items: center

    height: 24px
    border-radius: 12px
    background-color: $secondary
    cursor: pointer

    font-size: 12px
    line-height: 13px

