@use '../../../assets/styles/_variables' as *

.wrapper
  position: relative
  height: 100%

  @media screen and (max-width: 1280px)
    min-height: 432px

  @media screen and (max-width: 640px)
    min-height: 228px

.background
  position: absolute
  left: 0
  top: 0

  height: 100%
  width: 100%

  border-radius: 16px
  background-size: cover
  background-position: center center
  background-repeat: no-repeat

  img
    height: 100%
    width: 100%
    object-fit: cover

    border-radius: 16px

.overlay
  position: relative
  display: flex
  flex-direction: column
  justify-content: space-between
  gap: 12px

  padding: 12px
  height: 100%
  border-radius: 16px

  .name-wrapper
    display: flex
    gap: 4px

    margin-top: 8px

    p
      display: flex
      justify-content: center
      align-items: center

      height: 40px
      padding: 0 12px
      border-radius: 8px
      background-color: $gallery-button

      font-size: 15px
      line-height: 18px

      @media screen and (max-width: 640px)
        font-size: 12px
        line-height: 15px

  .buttons
    display: flex
    gap: 4px

    .favorite
      color: $text-primary

    button
      display: flex
      align-items: center
      justify-content: center

      height: 40px
      min-width: 40px
      padding: 0 12px
      border-radius: 8px
      background-color: $gallery-button

      cursor: pointer

      &:hover
        background-color: $hover

      @media screen and (max-width: 640px)
        font-size: 12px

  .controls
    display: flex
    justify-content: space-between
