.wrapper
  max-width: 1200px
  margin: auto
  padding: 36px 0

  @media screen and (max-width: 1280px)
      max-width: 576px
      padding: 24px 0

  @media screen and (max-width: 640px)
      max-width: 304px
      padding: 12px 0
