@use '../../../assets/styles/_variables' as *

.wrapper
  display: flex
  flex-direction: column
  gap: 12px

  .links
    display: flex
    justify-content: space-between

    padding: 0 16px

    color: $text-light
    font-size: 14px
    line-height: 18px

    .link
      cursor: pointer

  .main-wrapper
    display: flex
    justify-content: space-between

    padding: 4px

    border-radius: 12px
    background-color: $white

    .menu-wrapper
      display: flex
      gap: 4px

      a
        display: flex
        align-items: center
        justify-content: center

        background: none
        width: 238px
        height: 52px

        @media screen and (max-width:960px)
          width: 164px
          height: 42px
