@use '../../../../assets/styles/_variables' as *

.wrapper
  display: flex
  justify-content: space-between
  align-items: center
  position: relative

  height: 42px
  padding: 0 18px 0 16px

  border-radius: 12px
  background-color: white

  font-size: 14px
  line-height: 15px

.current-element
  max-height: 15px
  overflow: hidden
  text-overflow: ellipsis
  outline: none

.current-element:disabled::placeholder
  opacity: 1

.arrow
  cursor: pointer

.listWrapper
  position: absolute
  left: 2%
  top: 106%
  z-index: 1
  overflow: scroll

  max-height: 50vh
  width: 96%

  background-color: white
  border-radius: 8px
  border: 2px solid $secondary

.list-header
  padding: 16px 16px

  border-bottom: 1px solid $secondary

  color: $text-secondary
  text-transform: uppercase

.list
  list-style: none

.list-item
  display: flex
  justify-content: space-between
  padding: 8px 16px

  font-size: 14px
  line-height: 16px

  border-bottom: 1px solid $secondary
  cursor: pointer

.list-item:hover
  background-color: $primary

.list-item-count
  font-size: 12px
  color: $text-secondary
