@use '../../../../assets/styles/_variables' as *

.wrapper
  display: flex
  justify-content: space-between
  align-items: center
  gap: 8px
  position: relative

  height: 40px
  padding: 4px 10px 4px 4px

  border-radius: 12px
  background-color: $primary

  font-size: 12px
  line-height: 13px

  @media screen and (max-width:960px)
    height: 42px
    flex-grow: 1

.current-wrapper
  display: flex
  flex-direction: column
  gap: 2px
  flex-grow: 1

.placeholder
  font-size: 12px
  color: $text-light

.current-element
  max-height: 15px
  flex-grow: 1

  outline: none
  background-color: $primary

  overflow: hidden
  text-overflow: ellipsis

.current-element:disabled::placeholder
  opacity: 1

.location
  display: flex
  justify-content: center
  align-items: center

  height: 32px
  width: 32px

  border-radius: 8px

  cursor: pointer

.location:hover
  background-color: $hover

.listWrapper
  position: absolute
  left: 2%
  top: 106%
  z-index: 3
  overflow: scroll
  scrollbar-width: none

  max-height: 50vh
  width: 96%

  background-color: white
  border-radius: 8px
  border: 2px solid $secondary

.listWrapper::-webkit-scrollbar
  display: none

.list-header
  padding: 16px 16px

  border-bottom: 1px solid $secondary

  color: $text-secondary
  text-transform: uppercase

.list
  list-style: none

.list-item
  display: flex
  justify-content: space-between
  padding: 8px 16px

  font-size: 14px
  line-height: 16px

  border-bottom: 1px solid $secondary
  cursor: pointer

  p
    display: flex
    flex-direction: column
    gap: 2px

  span
    overflow: hidden
    text-overflow: ellipsis

  .price
    padding-left: 4px

    font-size: 12px
    line-height: 15px
    color: $text-secondary


.list-item:hover
  background-color: $primary

.list-item-count
  font-size: 12px
  color: $text-secondary
