@use '../../../../assets/styles/_variables' as *

.wrapper
  position: relative
  min-height: 600px
  height: 100%

  @media screen and (max-width: 1280px)
    height: 432px

  @media screen and (max-width: 640px)
    height: 228px

  p
    margin-top: 8px

    color: $text-secondary
    font-size: 14px
    line-height: 18px

    @media screen and (max-width: 640px)
      font-size: 12px
      line-height: 15px

.background
  position: absolute
  left: 0
  top: 0

  height: 100%
  width: 100%

  border-radius: 16px
  background-size: cover
  background-position: center center
  background-repeat: no-repeat

  animation-duration: 650ms
  animation-name: pages

  img
    height: 100%
    width: 100%
    object-fit: cover

    border-radius: 16px


.overlay
  position: relative
  z-index: 2
  display: flex
  flex-direction: column
  justify-content: space-between

  padding: 16px
  height: 100%
  border-radius: 16px


.controls
  display: flex
  justify-content: space-between

  button
    padding: 8px 16px

    border-radius: 8px

    @media screen and (max-width: 640px)
      font-size: 12px

.arrows
  display: flex
  gap: 4px

@keyframes pages
  0%
    opacity: 0.4
    filter: grayscale(0.7)

  25%
    opacity: 0.5
    filter: grayscale(0.45)

  50%
    opacity: 0.65
    filter: grayscale(0.25)

  75%
    opacity: 0.85
    filter: grayscale(0.1)

  100%
    opacity: 1
    filter: grayscale(0)
