@use '../../../../assets/styles/_variables' as *

.wrapper
  display: flex
  flex-direction: column
  justify-content: space-between

  height: 100%
  padding: 16px

  border-radius: 16px
  background-size: cover
  background-position: center center
  background-repeat: no-repeat

  @media screen and (max-width: 1280px)
    height: 432px

  @media screen and (max-width: 640px)
    height: 228px

  p
    margin-top: 8px

    color: $text-secondary
    font-size: 14px
    line-height: 18px

    @media screen and (max-width: 640px)
      font-size: 12px
      line-height: 15px

.controls
  display: flex
  justify-content: space-between

  button
    padding: 8px 16px

    border-radius: 8px

    @media screen and (max-width: 640px)
      font-size: 12px

.arrows
  display: flex
  gap: 4px
