.wrapper
  display: flex
  gap: 16px

  width: 100%

  @media screen and (max-width: 1280px)
    gap: 8px

  @media screen and (max-width: 640px)
    gap: 4px

.bar
  flex-grow: 1
  height: 4px
  background-color: white

  @media screen and (max-width: 640px)
    height: 2px
