@use '../../../assets/styles/_variables' as *

.wrapper
  display: flex
  flex-direction: column
  justify-content: space-between

  min-height: 240px
  height: 100%
  padding: 16px
  padding-bottom: 18px

.header
  font-size: 14px
  line-height: 18px

.price-list
  display: grid
  grid-template-columns: 1fr 1fr
  grid-template-rows: 1fr 1fr 1fr

  padding-top: 8px
  border-top: 1px solid #B7BBBF

.discount
  display: flex
  align-items: center
  grid-area: 2 / 2 / 3 / 3

.grey
  color: $text-secondary

.big
  font-size: 24px
  line-height: 25px


.small
  font-size: 10px
  line-height: 13px
  color: $text-secondary
