@use '../../../assets/styles/_variables' as *

.center
  height: 100%
  justify-content: center

.wrapper
  display: flex
  flex-direction: column
  justify-content: space-between
  gap: 16px

  min-height: 404px
  padding: 12px

  font-size: 12px
  line-height: 14px

  .specification
    display: flex
    flex-direction: column
    gap: 12px

    .button
      display: flex
      justify-content: center
      align-items: center

      height: 24px

      background-color: $secondary
      border-radius: 8px

  .options-wrapper
    display: flex
    flex-direction: column
    gap: 4px

    .option
      display: flex
      justify-content: space-between

      padding: 12px
      border: 1px solid $secondary
      border-radius: 12px

      div
        display: flex
        flex-direction: column
        gap: 2px

      p
        display: flex
        justify-content: center
        align-items: center

        cursor: pointer

    .option:hover
      background-color: $primary-light

    .active
      border-color: $approved
      background-color: $approved

  .price
    display: flex
    flex-direction: column
    gap: 12px

    border-top: 2px solid $secondary
    padding-top: 12px

    div, p
      display: flex
      justify-content: space-between

      .no-wrap
        width: max-content

    button
      padding: 8px 12px

      border-radius: 8px
      background-color: $secondary

      cursor: pointer

    button:hover
      background-color: $primary-light

  .grey
    color: $text-secondary

  .x-big
    padding-left: 4px

    font-size: 24px
    line-height: 27px

  .big
    font-size: 14px
    line-height: 16px

  .small
    font-size: 10px
    line-height: 12px

  .bold
    font-weight: 700
