@use '../../../assets/styles/_variables' as *

.wrapper
  display: flex
  flex-direction: column
  justify-content: space-between

  min-height: 240px
  height: 100%
  padding: 16px
  padding-bottom: 18px

.header
  font-size: 14px
  line-height: 18px

  @media screen and (max-width: 1280px)
    max-width: 292px

.price-wrapper
  padding-top: 8px
  border-top: 1px solid #B7BBBF

.price-list
  display: grid
  grid-template-columns: 1fr 1fr
  grid-template-rows: 1fr 1fr 1fr

  @media screen and (max-width: 1280px)
    max-width: 292px

.price
  padding-right: 28px
  // text-align: end

.discount-price
  // padding-right: 0
  // padding-left: 12px
  text-align: start

.discount
  display: flex
  justify-content: start
  align-items: center
  grid-area: 2 / 2 / 3 / 3
  // padding-left: 12px


.grey
  color: $text-secondary

.big
  font-size: 24px
  line-height: 25px


.small
  padding-left: 4px

  font-size: 12px
  line-height: 15px
  color: $text-secondary
