@use '../../../assets/styles/_variables' as *

.wrapper
  display: flex
  flex-direction: column
  gap: 8px

  padding: 12px

.top
  display: flex
  justify-content: space-between
  align-items: center

  button
    align-self: flex-start

    min-width: 90px
    width: 90px
    height: 24px
    padding: 4px 16px
    border-radius: 10px
    cursor: pointer

    font-size: 12px
    line-height: 15px

  button:hover
    opacity: 0.8

.header
  height: 38px
  overflow: hidden
  padding: 0 6px

  font-size: 14px
  line-height: 18px
  text-overflow: clip

.bottom
  display: flex
  flex-direction: column
  gap: 4px

.label
  padding: 0 6px

  font-size: 12px
  line-height: 15px
  color: $text-secondary
