@use '../../../../assets/styles/_variables' as *

.wrapper
  position: relative
  display: flex
  justify-content: center
  align-items: center

  min-height: 40px
  min-width: 40px

  border-radius: 12px
  background-color: $primary

  cursor: pointer
  user-select: none

  .labelCount
    position: absolute
    top: 4px
    right: 4px

    background-color: $accent
    border-radius: 12px
    padding: 0 4px

    font-size: 10px
    line-height: 12px
    color: $white

.wrapper:hover
  background-color: $hover
