@use '../../../assets/styles/_variables' as *

.list
  display: flex
  gap: 16px
  flex-wrap: wrap
  align-items: stretch

  list-style: none

.button
  height: 50px
  width: 100%

  background-color: $primary
  border: none

  font-size: 14px
  line-height: 18px

.button-active
  border: none
  background-color: $white

.button:hover
  background-color: $hover
