$white: #FFFFFF
$black: #000000

$primary: #E2E8F0
$primary-light: #F8F7F5
$secondary: #D6DCE3
$additional: #C8CED4
$accent: var(--theme-accent)
$checked: #EAFEED
$error: #fccccc
$hover: #F4F2ED
$border: #B3BBC6
$approved: #EAFEED

$text-primary: #1D1D1F
$text-secondary: #7F7F7F
$text-light: #80878F
$text-checked: #16C44D
