@use './_variables' as *

#root
  position: relative
  min-height: 100vh

  background-color: #EFF3F6

  font-family: 'DM Sans', sans-serif
  font-weight: 400
  font-size: 16px
  line-height: 26px
  color: $text-primary

a
  color: $text-primary
  text-decoration: none
