@use '../../../assets/styles/_variables' as *

.wrapper
  display: flex
  flex-direction: column
  gap: 32px

  font-family: "CoFoSans", 'Arial', sans-serif
  font-weight: 400
  font-size: 16px
  line-height: 18px
  color: $text-primary

  .sms
    display: flex
    flex-direction: column
    gap: 12px

    span
      padding-left: 8px

    input
      padding: 12px

      border-radius: 12px
      outline: none

    .button
      padding: 12px 0

      background-color: $accent
      border-radius: 12px
      cursor: pointer

      color: white

    .button:active
      opacity: 0.8

  p
    color: $text-secondary
    text-align: center
    font-size: 16px
    line-height: 20px

  .return
    cursor: pointer

  .telegram
    display: flex
    gap: 20px
    padding: 12px 20px
    width: max-content

    border-radius: 12px
    background-color: #039BE5
    color: white
    cursor: pointer

  .telegram:active
    opacity: 0.8

